@import "@/style/variables";
.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.signOut {
  font-size: $text;
  color: $black;
  border: 2px solid $black;
  padding: 8px 16px;
  border-radius: 8px;

  &:hover {
    background-color: $black;
    color: $white;
  }
}

.userInfoWrapperVertical {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.userInfoWrapperHorizontal {
  display: flex;
  gap: 8px;
}

.userInfoTitle {
  font-size: $text;
  font-weight: bold;
}
